<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Shop!!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="/">Shoppp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto" style="float:left">
                    @Html.Action("PagesMenuPartial", "Page")

                    @if (Request.IsAuthenticated) {
                        <li>@Html.ActionLink("Logout","Logout","Account",null,new {@class="navbar-text",style="text-decoration:none" })
                        </li>
                    }
                    else
                    {
                        if(ViewBag.Title == "Login")
                        {
                            <li class="navbar-text">@Html.ActionLink("Login","Login","Account",null,new {@class="active", style = "text-decoration:none" })</li>
                        }
                        else
                        {
                            <li class="navbar-text">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "navbar-text", style = "text-decoration:none" })</li>
                        }
                    }
                    @if (Request.IsAuthenticated) {
                        <li>@Html.Action("UserNavPartial","Account",new {area="" })</li>
                     }
                </ul>
                <span class="navbar-text" style="float:right">
                    @Html.Action("CartPartial","Cart")
                </span>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:5%">
        <div class="row" style="display:inline-block;width:100%;">
            <div class="col-md-3 list-group">
                @Html.Action("CategoryMenuPartial","Shop")
            </div>
            @if (ViewBag.Sidebar == "Yes")
            {
            <div style="margin:5%;display:flex;width:100%;justify-content: space-between;">
                <div>
                    @RenderBody()
                </div>
                <div style="margin-left:5%;">
                    @Html.Action("SidebarPartial", "Page")
                </div>
            </div>
            }
            else
            {
                <div class="col">
                    @RenderBody()
                </div>
            }
            <hr />
            <footer>
                <p>Смерть вижуалке, смерть её создателям</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
